<div class="app-footer__container">
    <div class="footer-logo">
        <a [routerLink]="'/'"><img class="aeramic_logo" src="../../assets/images/aeramic_logo.jpeg" alt="iBuyer for multifamily real estate. Achieve your dream of owning multifamily investments. It's a new way to sell and buy properties."/></a>
    </div>
    <div class='social_icons'>
            <a href="#" [eventTracker]='{"category":"social_facebook", "action":"click", "label" : "social"}'><img src="../../assets/images/social/facebook.png" alt="Facebook - Follow Us"></a>
            <a href="#" target="_new" [eventTracker]='{"category":"social_linkedin_footer", "action":"click", "label" : "social"}'><img src="../../assets/images/social/linkedin.png" alt="LinkedIn - Follow Us"/></a>
            <a href="#" [eventTracker]='{"category":"social_linkedin", "action":"click", "label" : "social"}'><img src="../../assets/images/social/twitter.png" alt="Twitter - Follow Us"/></a>
            <a href="#" [eventTracker]='{"category":"social_youtube", "action":"click", "label" : "social"}'><img src="../../assets/images/social/youtube.png" alt="Youtube - Follow Us"/></a>
    </div>
    <div *ngIf="!isMobile" fxFlex fxLayout fxLayoutAlign="center space-evenly" class="list-group">
            <a mat-button [routerLink]="'/'" routerLinkActive="active-indicator" [routerLinkActiveOptions]="{exact: true}"> Home </a>
            <a mat-button [routerLink]="'/estimate'" routerLinkActive="active-indicator" [routerLinkActiveOptions]="{exact: true}"> Estimate </a>
            <a mat-button [routerLink]="'/sellers'" routerLinkActive="active-indicator" [routerLinkActiveOptions]="{exact: true}"> Sell </a>
            <a mat-button [routerLink]="'/buyers'" routerLinkActive="active-indicator" [routerLinkActiveOptions]="{exact: true}"> Buy </a>
            <a mat-button [routerLink]="'/contactus'" routerLinkActive="active-indicator" [routerLinkActiveOptions]="{exact: true}"> About Us </a>
            <a mat-button [routerLink]="'/bpe'" *ngIf="isUserAuthenticated" routerLinkActive="active-indicator" [routerLinkActiveOptions]="{exact: true}"> My Ballpark Estimates </a>
            <a mat-button [routerLink]="'/sitemap'" routerLinkActive="active-indicator" [routerLinkActiveOptions]="{exact: true}" [eventTracker]='{"category":"global", "action":"click", "label" : "sitemap"}'>Site Map</a>
            <a mat-button [routerLink]="'/terms'" routerLinkActive="active-indicator" [routerLinkActiveOptions]="{exact: true}" [eventTracker]='{"category":"global", "action":"click", "label" : "terms"}'>Terms Of Use</a>
    </div>
    <div class='contact_info'>
        <div>
            <mat-icon class="icon">phone_in_talk</mat-icon>
            <span><a href="tel:XXXXXXXXXX">+91 XXXXXXXXXX</a><br></span>
        </div>
        <div>
            <mat-icon class="icon">location_on</mat-icon>
            <span>Address Line, City, State 800001</span>
        </div>
        <div>
            <mat-icon class="icon">email</mat-icon>
            <span><a href="mailto:test@test.com?Subject=Hello%20Oxygen" target="_top">xxx@xxx.com</a></span>
        </div>
    </div>
    <div class='copyright'>
        <span>COPYRIGHT &#9400; {{date| date:'yyyy'}} Aeramic Constructions Pvt. Ltd. &nbsp; | &nbsp; ALL RIGHTS RESERVED</span>
    </div>
   
    <div class="strip-image"></div>
</div>

    
        