.comparision__container {
    display: flex;
    //min-height: 75vh;
    //align-items: center;
    //height: 100%;
    flex-direction: column;
    //justify-content: space-around;
    //padding: 10px 10px;
    //position: relative;
    background: rgba(255,80,41,.05);
    //margin-top: 10px;
    padding: 40px;

    .mat-radio-group{
        display: flex;
        width: 160px;
        justify-content: space-between;
      }
  
    .material-icons {
      font-weight: bold;
    }

    .select-head {
        font-size: 1.2rem
    }

    .comparision-content {
        display: flex;
        //box-shadow:  0 0 10px  rgba(0,0,0,0.6);
        //width: 350px;
        //height: 350px;
        //align-items: center;
        //margin: 20px;
        flex: 1;
        justify-content: center;
  
        // @media (max-width: 900px) {
        //   flex-direction: row;
        // }
  
        .col {
            //padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            //margin: auto;
            height: auto;
            flex: 1;
            //margin: 0 10px;
            //box-shadow:  0 0 1px  rgba(0,0,0,0.6);
  
            @media (max-width: 900px) {
              margin: 10px 0;
            }

            .comparision-footer {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .comparision-footer-title {
                    font-weight: 700;
                }

                .comparision-footer-desc {
                    font-size: 1rem;
                }
            }
            
  
            // &:hover {
            //   box-shadow: 0 0 15px rgba(33,33,33,.2); 
            // }

            h4 {
                font-size: 22px;
                line-height: 28px;
                color: #0458a8;
                font-weight: 600;
                padding: 10px 0 0 0;
                //margin: 0 0 20px 0;
                text-align: center;
            }
  
            span {
                
                text-align: center;
                color: #4d4d4d;
                line-height: 22px;
                font-size: 16px;
            }
        }
  
        .col1 {
            background: #FFF;
            //border: 1px solid black;
        }
  
        .col2 {
            background: #f6f6f6;
        }
  
        .col3 {
            background: #FFF;
        }


        /*PRICE COLOR CODE START*/
        .generic_content{
            background-color: #fff;
            //box-shadow: 0 0 15px rgba(33,33,33,.2);
            border: 1px solid rgba(33,33,33,.2);
            margin: 0 10px 0 10px;
        }

        .generic_content .generic_head_price{
            background-color: #f6f6f6;
        }

        .generic_content .generic_head_price .generic_head_content .head_bg{
            border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
        }

        .generic_content .generic_head_price .generic_head_content .head span{
            color: #525252;
        }

        .generic_content .generic_head_price .generic_price_tag .price .sign{
            color: #414141;
        }

        .generic_content .generic_head_price .generic_price_tag .price .currency{
            color: #414141;
        }

        .generic_content .generic_head_price .generic_price_tag .price .cent{
            color: #414141;
        }

        .generic_content .generic_head_price .generic_price_tag .month{
            color: #414141;
        }

        .generic_content .generic_feature_list ul li{	
            color: #a7a7a7;
        }

        .generic_content .generic_feature_list ul li span{
            color: #414141;
        }
        // .generic_content .generic_feature_list ul li:hover{
        //     background-color: #E4E4E4;
        //     border-left: 5px solid #2ECC71;
        // }

        .generic_content .generic_price_btn a{
            border: 1px solid #2ECC71; 
            color: #2ECC71;
        } 

        .generic_content.active .generic_head_price .generic_head_content .head_bg,
        .generic_content:hover .generic_head_price .generic_head_content .head_bg{
            border-color: #2ECC71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ECC71;
            color: #fff;
        }

        .generic_content:hover .generic_head_price .generic_head_content .head span,
        .generic_content.active .generic_head_price .generic_head_content .head span{
            color: #fff;
        }

        .generic_content:hover .generic_price_btn a,
        .generic_content.active .generic_price_btn a{
            background-color: #2ECC71;
            color: #fff;
        } 
        #generic_price_table{
            margin: 50px 0 50px 0;
            font-family: 'Raleway', sans-serif;
        }
        .row .table{
            padding: 28px 0;
        }

        /*PRICE BODY CODE START*/

        .generic_content{
            overflow: hidden;
            position: relative;
            text-align: center;
        }

        .generic_content .generic_head_price {
            //margin: 0 0 20px 0;
        }

        .generic_content .generic_head_price .generic_head_content{
            margin: 0 0 50px 0;
        }

        .generic_content .generic_head_price .generic_head_content .head_bg{
            border-style: solid;
            border-width: 90px 1411px 23px 399px;
            position: absolute;
        }

        .generic_content .generic_head_price .generic_head_content .head{
            padding-top: 40px;
            position: relative;
            z-index: 1;
        }

        .generic_content .generic_head_price .generic_head_content .head span{
            font-family: "Raleway",sans-serif;
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 2px;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }

        .generic_content .generic_head_price .generic_price_tag{
            padding: 0 0 20px;
        }

        .generic_content .generic_head_price .generic_price_tag .price{
            display: block;
        }

        .generic_content .generic_head_price .generic_price_tag .price .sign{
            display: inline-block;
            font-family: "Lato",sans-serif;
            font-size: 28px;
            font-weight: 400;
            vertical-align: middle;
        }

        .generic_content .generic_head_price .generic_price_tag .price .currency{
            font-family: "Lato",sans-serif;
            font-size: 60px;
            font-weight: 300;
            letter-spacing: -2px;
            line-height: 60px;
            padding: 0;
            vertical-align: middle;
        }

        .generic_content .generic_head_price .generic_price_tag .price .cent{
            display: inline-block;
            font-family: "Lato",sans-serif;
            font-size: 24px;
            font-weight: 400;
            vertical-align: bottom;
        }

        .generic_content .generic_head_price .generic_price_tag .month{
            font-family: "Lato",sans-serif;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 3px;
            vertical-align: bottom;
        }

        .generic_content .generic_feature_list ul{
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: left;
        }

        .generic_content .generic_feature_list ul li{
            font-family: "Lato",sans-serif;
            font-size: 18px;
            padding: 15px 0;
            transition: all 0.3s ease-in-out 0s;
        }
        .generic_content .generic_feature_list ul li:hover{
            transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;

        }
        .generic_content .generic_feature_list ul li .fa{
            padding: 0 10px;
        }
        .generic_content .generic_price_btn{
            margin: 20px 0 32px;
        }

        .generic_content .generic_price_btn a{
            border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            -webkit-border-radius: 50px;
            display: inline-block;
            font-family: "Lato",sans-serif;
            font-size: 18px;
            outline: medium none;
            padding: 12px 30px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .generic_content,
        .generic_content:hover,
        .generic_content .generic_head_price .generic_head_content .head_bg,
        .generic_content:hover .generic_head_price .generic_head_content .head_bg,
        .generic_content .generic_head_price .generic_head_content .head h2,
        .generic_content:hover .generic_head_price .generic_head_content .head h2,
        .generic_content .price,
        .generic_content:hover .price,
        .generic_content .generic_price_btn a,
        .generic_content:hover .generic_price_btn a{
            transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;
        } 
        @media (max-width: 320px) {	
        }

        @media (max-width: 767px) {
            .generic_content{
                margin-bottom:75px;
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .col-md-3{
                float:left;
                width:50%;
            }
            
            .col-md-4{
                float:left;
                width:50%;
            }
            
            .generic_content{
                margin-bottom:75px;
            }
        }
        

        .price-heading{
            text-align: center;
        }
        .price-heading h1{
            color: #666;
            margin: 0;
            padding: 0 0 50px 0;
        }
    }
  
    
  }