<div class="home__container">
    <div class="banner">
        <div class="banner-image"></div>
        <div class="banner-message">
          <div class="banner-head">
             <h1><strong>Constructing home has never been this simple.</strong></h1>
             <span>We construct homes and ensure peace of mind you deserve with our project tracking service.</span>
             <div>
                <button mat-raised-button color="accent">Let's Build</button>
             </div>
          </div>
        </div>
      </div>
      
      <!-- <mat-divider></mat-divider>
      <app-infocards></app-infocards>
      <mat-divider></mat-divider>
      <app-probsol></app-probsol>
      <mat-divider></mat-divider> -->
    
      <!-- <app-carousel></app-carousel>
      <mat-divider></mat-divider> -->
      <!-- <mat-divider></mat-divider>
      <app-process></app-process>
      <mat-divider></mat-divider> -->
      <!-- <app-home-footer></app-home-footer> 
      <app-scroll-top></app-scroll-top>-->
    </div>
    
      
      