<div class="home__container">
    <div class="banner">
        <div class="banner-image"></div>
        <div class="banner-message">
          <div class="banner-head">
             <h1><strong>Building a home has never been so simple.</strong></h1>
             <span>We build homes and give you the peace of mind you deserve with our project tracking service.</span>
          </div>
        </div>
      </div>
      <div class="banner_info" #appmapScrollPoint>
        <div class="banner_info_scroller">
            <div>
                <button mat-raised-button color="accent" class="lets-build-button">Let's Build<mat-icon>fast_forward</mat-icon></button>
             </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <app-services></app-services>
      <mat-divider></mat-divider>
      <app-facts></app-facts>
      <mat-divider></mat-divider>
      <app-companyintro></app-companyintro>
      <mat-divider></mat-divider>
      <app-howitworks></app-howitworks>
      
    
      <!-- <app-carousel></app-carousel>
      <mat-divider></mat-divider> -->
      <!-- <mat-divider></mat-divider>
      <app-process></app-process>
      <mat-divider></mat-divider> -->
      <!-- <app-home-footer></app-home-footer> 
      <app-scroll-top></app-scroll-top>-->
    </div>
    
      
      