<div class="app-intro__container">
      <!--  container  --> 
      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="section-title">Some Interesting <strong> Facts</strong></h2>
            </div>
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper viverra nam libero justo laoreet sit amet cursus sit. Elit pellentesque habitant morbi tristique senectus et. Semper feugiat nibh sed pulvinar proin gravida. Duis convallis convallis tellus id interdum velit laoreet id donec.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <!-- facts   -->  
                <div class="inline-facts-holder row">
                    <!-- 1 -->
                    <div class="inline-facts col-md-4 ">
                        <div class="milestone-counter">
                            <div class="stats animaper">
                                <div class="num" data-content="30" data-num="30">30</div>
                            </div>
                        </div>
                        <h6>Finished Projects</h6>
                    </div>
                    <!-- 3 -->
                    <div class="inline-facts col-md-4">
                        <div class="milestone-counter">
                            <div class="stats animaper">
                                <div class="num" data-content="30" data-num="30">30</div>
                            </div>
                        </div>
                        <h6>Happy Clients</h6>
                    </div>
                    <!-- 3 -->
                    <div class="inline-facts col-md-4">
                        <div class="milestone-counter">
                            <div class="stats animaper">
                                <div class="num" data-content="22" data-num="22">22</div>
                            </div>
                        </div>
                        <h6>Working Years</h6>
                    </div>
                </div>
                <!-- facts   end --> 
            </div>
        </div>
    </div>
    
</div>
