<div class="projects__container">
    <div class="projects_header_container">
        <div class="projects_header_content">
                <h2>From a couple to an immensely colossal Indian family, we have houses built with emotions for everyone.</h2>
                <h2>Our professional will provide exhaustive drawing and designs till the customer is plenarily slaked.</h2>
        </div>
    </div>
    <div class="gallery_wrapper">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery" (imagesReady)="imageOnReady()" (previewOpen)="previewOpenHandler()" (previewClose)="previewCloseHandler()"></ngx-gallery>
    </div>
</div>

