<div class="services__container">
    <h2>Our Services</h2>
    <h4>Flawless construction powered by deep expertise.</h4>
    <div class="services-content">
            <div class="col1 col">
                    <div class="house-image"></div>
                    <div class="services__label">
                        <h3>House Construction</h3>
                    </div>
            </div>
            <div class="col2 col">
                    <div class="office-image"></div>
                    <div class="services__label">
                        <h3>Construction for Business</h3>
                    </div>
            </div>
            <div class="col3 col">
                    <div class="material-image"></div>
                    <div class="services__label">
                        <h3>Building Materials</h3>
                    </div>
            </div>
    </div>
</div>
