<div class="estimator__container">
    <div class="estimator_header_container">
        <div class="estimator_header_content">
                <h1>Construction Cost Calculator</h1>
                <p class="section-subtitle mb-4">Fill in the details below to get the rough cost of the construction. <br/>Talk to our technical consultant for the exact cost.</p>
        </div>
    </div>
    <div mat-dialog-content class="form__container">
        <form #estimateForm='ngForm' class="form_content" (ngSubmit)="onEstimateRequestSubmit(estimateForm)">
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
                <mat-form-field class="margin-top-10" fxFlex="0 1 calc(45% - 20px)">
                    <mat-label>City</mat-label>
                    <mat-select [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let city of cities" [value]="city">
                            {{city.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="margin-top-10" fxFlex="0 1 calc(45% - 20px)">
                    <input matInput placeholder="Super Build Up Area (sq.ft.)" type="number" name='builtUpArea' [(ngModel)]="builtUpArea" required>
                    <mat-error *ngIf="estimateForm.controls['builtUpArea']?.errors?.required">
                            This field is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="margin-top-10" fxFlex="0 1 calc(45% - 20px)">
                    <input matInput placeholder="No. Of Car Parking (130 sq.ft./unit)" type="number" name='noCarParking' [(ngModel)]="noCarParking" required>
                    <mat-error *ngIf="estimateForm.controls['noCarParking']?.errors?.required">
                            This field is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="margin-top-10" fxFlex="0 1 calc(45% - 20px)">
                    <input matInput placeholder="Balcony & Utility Area (sq.ft.)" type="number" name='utilityArea' [(ngModel)]="utilityArea" required>
                    <mat-error *ngIf="estimateForm.controls['utilityArea']?.errors?.required">
                            This field is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-action-buttons">
                <button mat-raised-button class="button" type="submit" [disabled]="showBusy" [eventTracker]='{"category":"my-bpe-add-property", "action":"click", "label" : "add_property"}'>
                    <span *ngIf="!showBusy">Estimate Cost</span>
                    <div *ngIf="showBusy">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    </div>
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="showCalculations" class="results__container">
        <h2>Your Cost Estimate</h2>
        <div class="results-content">
            <div class="row">
                <div class="col1 col" *ngFor="let calc of calculationsSet1; let i = index">
                    <h4>{{calc.name}} - {{calc.price | currency:'INR':'symbol':'1.0-0'}}/sq.ft (Incl. GST)</h4>
                    <div class="results__col">
                        <div class="results_item">
                            <ul class="list">
                                <li class="list-item">
                                    <div class="list-item__col">
                                        <strong>Built Up Cost</strong>
                                        <p class="small">{{builtUpArea * 0.8 | number}} sq.ft * {{calc.price | currency:'INR':'symbol':'1.0-0'}}/sq.ft</p>
                                    </div>
                                    <div class="list-item__col">
                                        <strong>{{calc.buildUpCost | currency:'INR':'symbol':'1.0-0'}}</strong>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="list-item__col">
                                        <strong>Car Parking Cost</strong>
                                        <p class="small">{{noCarParking | number}} * {{carParkingArea}} sq.ft * {{calc.carParkingPrice | currency:'INR':'symbol':'1.0-0'}}/sq.ft</p>
                                    </div>
                                    <div class="list-item__col">
                                        <strong>{{calc.carParkingCost | currency:'INR':'symbol':'1.0-0'}}</strong>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="list-item__col">
                                        <strong>Balcony &amp; Utility Cost</strong>
                                        <p class="small">{{utilityArea}} sq.ft * {{calc.utilityPrice | currency:'INR':'symbol':'1.0-0'}}/sq.ft</p>
                                    </div>
                                    <div class="list-item__col">
                                        <strong>{{calc.utilityCost | currency:'INR':'symbol':'1.0-0'}}</strong>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="list-item__col">
                                        <strong>Total Cost</strong>
                                    </div>
                                    <div class="list-item__col">
                                        <strong class="total text-primary">{{(calc.buildUpCost + calc.carParkingCost + calc.utilityCost) | currency:'INR':'symbol':'1.0-2'}}</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1 col" *ngFor="let calc of calculationsSet2; let i = index">
                    <h4>{{calc.name}} - {{calc.price | currency:'INR':'symbol':'1.0-0'}}/sq.ft (Incl. GST)</h4>
                    <div class="results__col">
                        <div class="results_item">
                            <ul class="list">
                                <li class="list-item">
                                    <div class="list-item__col">
                                        <strong>Built Up Cost</strong>
                                        <p class="small">{{builtUpArea * 0.8 | number}} sq.ft * {{calc.price | currency:'INR':'symbol':'1.0-0'}}/sq.ft</p>
                                    </div>
                                    <div class="list-item__col">
                                        <strong>{{calc.buildUpCost | currency:'INR':'symbol':'1.0-0'}}</strong>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="list-item__col">
                                        <strong>Car Parking Cost</strong>
                                        <p class="small">{{noCarParking | number}} * {{carParkingArea}} sq.ft * {{calc.carParkingPrice | currency:'INR':'symbol':'1.0-0'}}/sq.ft</p>
                                    </div>
                                    <div class="list-item__col">
                                        <strong>{{calc.carParkingCost | currency:'INR':'symbol':'1.0-0'}}</strong>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="list-item__col">
                                        <strong>Balcony &amp; Utility Cost</strong>
                                        <p class="small">{{utilityArea}} sq.ft * {{calc.utilityPrice | currency:'INR':'symbol':'1.0-0'}}/sq.ft</p>
                                    </div>
                                    <div class="list-item__col">
                                        <strong>{{calc.utilityCost | currency:'INR':'symbol':'1.0-0'}}</strong>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="list-item__col">
                                        <strong>Total Cost</strong>
                                    </div>
                                    <div class="list-item__col">
                                        <strong class="total text-primary">{{(calc.buildUpCost + calc.carParkingCost + calc.utilityCost) | currency:'INR':'symbol':'1.0-2'}}</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

