.howitworks__container {
    display: flex;
    //min-height: 600px;
    align-items: center;
    //height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px 30px 10px;
    position: relative;
    background-color: #FFF;
    margin-top: 30px;

    .slick-slider {
        width: 450px;
        margin: auto;
        background: #FFF;

        @media (max-width: 900px) {
            width: 300px;
        }
    }
  
    .material-icons {
      font-weight: bold;
    }

    .orange-font {
        color: orange;
    }

    .numberCircle_2 {
        font-size: 8px;
        margin-right: 10px;
    }

    .howitworks__sub-content {
        margin-top: 20px;
        box-shadow: 0 0 15px rgba(33,33,33,.2); 
        border-top: 5px solid orange;
        height: 100px;
        width: 45%;
        background-color: #FFF;
        display: flex;
        align-items: center;
        padding: 20px 50px;

        @media (max-width: 900px) {
            flex-direction: column;
            height: auto;
            width: 90%;
            padding: 20px 20px;
        }

        .howitworks__sub-content-text {
            display: flex;
            flex-direction: column;

            @media (max-width: 900px) {
                align-items: center;
            }

            .sub-content-text__title {
                line-height: 1;

                @media (max-width: 900px) {
                    text-align: center;
                }
            }

            .sub-content-text__desc {
                font-size: 1.1rem;

                @media (max-width: 900px) {
                    text-align: center;
                }
            }
        }
    }
  
    .howitworks-content {
        padding-top: 5px;

        @media (max-width: 900px) {
          flex-direction: column;
        }
  
        .col {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            //margin: auto;
            height: auto;
            flex: 1;
            //margin: 0 10px;
            //box-shadow:  0 0 1px  rgba(0,0,0,0.6);
  
            @media (max-width: 900px) {
              margin: 10px 0;
            }

            .howitworks-image {
                width: 100%;
                min-height: 300px;
                background-size: cover;
                background-position: center;

                @media (max-width: 900px) {
                    min-height: 200px;
                }
            }
  
            // &:hover {
            //   box-shadow: 0 0 15px rgba(33,33,33,.2); 
            // }

            .howitworks__label {
                background-color: black;
                width: 100%;
                border-top: 5px solid orange;
                display: flex;
                align-items: center;
                padding-left: 20px;

                .numberCircle {
                    width: 35px;
                    //line-height: 120px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 22px;
                    border: 2px solid #666;
                    color: #FFF;
                }

                h5 {
                    color:#FFF;
                    font-size: 18px;
                    padding: 10px;
                }
            }
  
            .howitworks__col {
              padding: 3em 0 0 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              border-top: 1px solid #4d4d4d;
              flex: 1;
  
              i {
                color: #4d4d4d;
              }
        
              .howitworks_item {
                display: flex;
                flex-direction: column;
                align-items: center;
          
                .howitworks_subitem {
                  padding: 5px;
                  text-align: center;
                  color: #4d4d4d;
                  line-height: 22px;
                  font-size: 16px;
  
                  @media (max-width: 1048px) {
                    line-height: 19px;
                    font-size: 15px;
                  }
                }
              }
            }
  
            h4 {
                font-size: 22px;
                line-height: 28px;
                color: #0458a8;
                font-weight: 600;
                padding: 10px 0 0 0;
                margin: 0 0 20px 0;
                text-align: center;
            }
  
            span {
                
                text-align: center;
                color: #4d4d4d;
                line-height: 22px;
                font-size: 16px;
            }
        }
  
        .col1 {
            background: #FFF;
            //border: 1px solid black;
        }
  
        .col2 {
            background: #f6f6f6;
        }
  
        .col3 {
            background: #FFF;
        }
    }
  
    .question-button-section {
        display: flex;
        justify-content: center;
        flex: 1;
  
        .question-button {
            padding: 14px 20px;
            margin: 15px 0 0 0;
            background: #024d8c;
            /* float: right; */
            border-radius: 25px;
            /* display: block; */
            text-align: center;
            width: 170px;
            height: 50px;
  
            span {
                color: #FFF;
                font-size: 14px;
                font-weight: 600;
            }
            
        }
    }

    .breadcrumb-pagination {
      width:100%;
      border-bottom:1px solid #E1E6EB;
      text-align:center;
      float:left;
      color:#B3B7C1;
      padding-top: 10px;

      @media (max-width: 870px) {
        padding-bottom: 10px;
      }
    }
  
    .breadcrumb-pagination div {
        width: 15%;
        display:inline-block;
      }
      
    .breadcrumb-pagination div span {
        margin:0 auto;
        display:block;
        border-radius:100%;
        height:40px;
        width:40px;
        padding:0;
        font-size: 25px;
      }  

      .breadcrumb-pagination div p {
        font-size: 1rem;

        @media (max-width: 870px) {
          display: none;
        }
      }  

    .completed span {
        background-color:NONE;
        color:#95db89;
        border:2px solid #95db89;
      }
        
    .active span {
        background-color:#00abc9;
        color:#fff;
      }
        
    .todo span {
        background-color:none;
        color:#E1E6EB;
        border:2px solid #E1E6EB;
      }
        
    .breadcrumb-pagination div p {
        text-align:center;
        line-height:0;
        margin:30px auto 25px;
      }
        
    .active p {
      border-bottom:2px solid #00abc9;
      padding-bottom:27px;
      margin-bottom:0px !important;
      color: #3c4043;
      font-weight:700;
    }
        
    .completed p {
        color: #B5B7c1;
      }
    
     .completed p::before { 
      content: '\2713' 
     }
  }