<div id="app">
  <div fxFlex>
          <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
          <mat-sidenav-container>
              <mat-sidenav #sidenav fixedInViewport="true" [opened]="false" role="navigation" align="end">
                  <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
              </mat-sidenav>
              <mat-sidenav-content>
                  <main>
                      <div class="container">
                          <div [@routeAnimations]="prepareRoute(outlet)" >
                              <router-outlet #outlet="outlet"></router-outlet>
                          </div>
                      </div>
                  </main>
                  <app-footer></app-footer>
              </mat-sidenav-content>
          </mat-sidenav-container>

          
  </div>
    <!-- <div class="needhelp_icon" (click)="openHelpWindow($event); false">Need Help?</div> -->
</div>
<ngx-spinner
bdOpacity = 0.2
size = "medium"
color = "#fff"
type = "ball-pulse"
[fullScreen] = "true"
>
<h3 style="color: white" > Loading... </h3>
</ngx-spinner>