.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}