<div class="app-card__container">
    <div class="app-card-title">
        <h2>Why Aeramic?</h2>
        <h4>We ensure peace of mind, trust, and transparent construction.</h4>
    </div>
    <div class="app-card-info">
        <mat-card>
            <mat-card-header (click)="onCardHeaderClick('/sellers')">
                <mat-card-title>Safe Money Transaction</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <i class="fas fa-coins fa-4x into-icon"></i>
                    <span class="app-card-content-text">
                            <h6>No Advance. Contractor is paid only once the work is complete</h6>
                    </span>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header (click)="onCardHeaderClick('/buyers')">
                <mat-card-title>Absolute Transparency</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <i class="fas fa-file-alt fa-4x into-icon"></i>
                    <span class="app-card-content-text">
                            <h6>Clear and Detailed Quotation. Online tracking of projects</h6>
                    </span>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Assured Quality Control</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <i class="fas fa-check-double fa-4x into-icon"></i>
                    <span class="app-card-content-text">
                            <h6>310+ Quality (QASCON) Checks performed by team of experts</h6>
                    </span>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Zero Delays</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <i class="fas fa-clock fa-4x into-icon"></i>
                    <span class="app-card-content-text">
                            <h6>Zero tolerance for delays</h6>
                    </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>
