.contactus__container {
    height: 100%;
    width: 100%;
    background-color: #FFF;
  
    .banner {
        position: relative;
        min-height: 450px;
        height: 100%;
        //display: table;
        width: 100%;
        padding: 20px;
        background: #FFF;
        // background: linear-gradient(to bottom, #0498d6 0%,#02b2e9 50%,#7db9e8 100%);
        // background: url('../../assets/images/aboutus_background.jpg') no-repeat center center/cover #02b2e9;
        // background-size: 100% 100%;
        background:
        linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
        ),
        url('../../assets/images/contactus-background.jpeg') no-repeat center center/cover;
        filter: saturate(1.3);
  
        @media (max-width: 648px) {
          padding: 10px;
        }

        .form-card {
            box-shadow:  2px 2px 50px  rgba(0,0,0,0.2);
            //height: 300px;
            //width: 350px;
          }
        
    
        .banner-head {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding-top: 20px;
          //padding: 5% 15%;
        //   line-height: 30px;
        //   text-shadow: 0 1px 0 black;
          //padding: 2% 15% 0 15%;
  
          @media (max-width: 648px) {
            width: 100%;
            padding: 0;
          }
      
          h1 {
            font-size: 2.1em;
            color: #fff;
            //text-shadow: 1px 1px #a8cce0;
            font-weight: 600;
            height: auto;
            //margin-bottom: 25px;
  
            @media (max-width: 648px) {
              font-size: 1.9em;
            }
          }
  
          a {
            text-decoration: none;
          }
  
          b {
            color: #FFF;
          }
  
          address {
            margin-top: 30px;
            color: #FFF;
            font-size: 21px;
  
            span {
              font-size: 1.2em;
            }
          }
  
          address span {
            color: #FFF;
          }
          
          address span a {
            color: #FFF;
          }
        }
      }
  }